@font-face {
    font-family: 'Roboto';
    src: url('roboto/roboto-bold-webfont.eot');
    src: url('roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-bold-webfont.woff') format('woff'),
         url('roboto/roboto-bold-webfont.ttf') format('truetype'),
         url('roboto/roboto-bold-webfont.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
html,body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #000;
}
li{
  list-style: none;
}
#airlines-gui-container{
  position :absolute;
  left :10px;
  top :60px;
}
#app,canvas{
  width: 100%;
  height: 100%
}
.info{
  position: absolute;
  right: 0;
  bottom: 300px;
  background: rgba(255, 255, 255, 0);
  width: 500px;
  /*min-height: 200px;*/
  color:#fff;
  padding:10px;
  font-size: 16px;
}
.pie-container{
  position: absolute;
  right: 0;
  bottom: 0;
  height:300px;
}
.record-container{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 300px;
  height:150px;
  padding:15px;
  color:#fff;
  font-size: 16px;
  overflow: hidden;
}
.record{
  padding-left:5px;
}
.info p{
  text-align: center;
}
#info-airport{
  margin-bottom: 15px;
  transition: all ease 1s;
}
#info-airline{
  margin-bottom: 15px;
}
#info-airport-route{
  margin-bottom: 15px;
}
.tips{
  font-family: 'Roboto';
  position: absolute;
  display: inline-block;
  background-color: rgba(0,0,0,.87);
  color: #ffffff;
  font-family: 'RopaSans';
  -webkit-user-select: none;
  margin: 0px;
  border: 0px;
  padding: 10px;
  overflow: hidden;
  cursor: pointer;
}
.tips .country-name{
  font-weight: bolder;
  font-size: 40px;
  padding-right: 10px;
}
.tips .airport-latlong{
  color: #aaaaaa;
  font-size: 17pt;
  padding:10px;
  font-weight: bold
}
.tips .airport-name{
  text-align: center;
  color: #aaaaaa;
  font-size: 17pt;
  padding:10px;
  font-weight: bold
}
.search{
  position:absolute;
  bottom: 10px;
  left:50%;
  width: 50%;
  height: 50px;
  margin: 0 auto;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 3px;
}
.left,.right{
  position: relative;
}
.left{
  line-height: 50px;
  text-align: center;
  width: 20%;
  height: 100%;
  float: left;
  padding:0 10px;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
  cursor: pointer;
}
.right{
  width: 80%;
  height: 100%;
  float:right;
}
.right input{
  width: 100%;
  height:100%;
  font-size: 18px;
  padding-left: 10px;
  border:none;
}
.path{
  position: relative;
  height: 100%;
  line-height: 18px;
  text-align: center;
}
.path span{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate3d(-50%,-50%,0);
}
#airport-start{
  width:40%;
  float: left;
  border-right:1px solid #ccc;
}
#airport-end{
  width:40%;
  float: right;
  border-left:1px solid #ccc;
}
.select{
  position: absolute;
  left:0;
  top:0;
  transform: translateY(-100%);
  width: 100%;
  padding: 0;
  background: #fff;
}
.search-item{
  display: none;
  width: 140%;
  left:-20%;
  transform: translateY(-110%);
  border-radius: 5px;
}
.select li{
  list-style: none;
  padding: 15px;
  line-height: 1;
  font-size: 16px;
}
.search-result{
  overflow: hidden;
}
.search-result li{
  padding: 10px 15px;
}
.select li:hover{
  background: #ccc;
  cursor: pointer;
}

.route-list{
  position: absolute;
  left: 15px;
  top:50%;
  transform: translateY(-50%);
  width: 250px;
  height: 50%;
  color: #fff;
}
